.container {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  width: 80vw;
}
.imageSet {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}
.loader {
  display: block;
  margin: 20px auto;
}
